APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:vq/P2XAzuQGo5Jr7EQtmNyl7mu1BiKXE18HErBIx4VE=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack

DB_CONNECTION=pgsql
DB_HOST=db
DB_PORT=5432
DB_DATABASE=rehearsals
DB_USERNAME=rehearsals
DB_PASSWORD=rehearsals

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=log

COMPOSE_PROJECT_NAME=rehearsals
